body {
    background-color: #aabbff;
}

.description {
    align-items: right;
    top: 20vh;
    justify-content: right;
    position: absolute;

}

ul {
    color: black;
    font-family: Tahoma, sans-serif;
    font-size: 25px;
    font-family: Calibri, sans-serif;
}

.navigation-links {
    display: flex; /*flexbox for navigation links*/
    flex-direction: row;
    top: 8px;
    position: relative;
    float: right; /*positioned on top right of page*/
}

.navigation-links > div {
    /*specifies spacing between flexbox elements*/
    margin: 1vw; 
    padding: 14px 16px;
    color: black;
}

.navigation-links > div > a { /*specifies styling for text*/
    text-align: right; 
    text-decoration: none;
    color: black;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
}

h1 {
    font-family: Calibri, sans-serif;
    color:black;
    text-align: center;
    font-size: 40px;
}
