body {
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(0deg, #001050 50%, #aabbff 50%);
}

.img-container {
    float: right;
    margin-left: auto;
}

.container {
    align-items: left;
    top: 30vh; 
    margin-left: 3vw;
    justify-content: left;
    position: absolute;
}

h1 {
    align-items: center;
    font-size: 35px;
    color: white;
    font-family: Tahoma, sans-serif;
    width: 100%;
    text-align: center;  
}

p {
    color: white;
    font-family: Tahoma, sans-serif;
}

.navigation-links {
    display: flex; /*flexbox for navigation links*/
    flex-direction: row;
    top: 8px;
    position: relative;
    float: right; /*positioned on top right of page*/
}

.navigation-links > div {
    /*specifies spacing between flexbox elements*/
    margin: 1vw; 
    padding: 14px 16px;
    color: black;
}

.navigation-links > div > a { /*specifies styling for text*/
    text-align: right; 
    text-decoration: none;
    color: black;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: col;
    position: relative;
    top: 5vh;
}

.flex-container > .logo {
    float: left;
    margin-left: 50vw;
    display: flex;
    margin-top: 6%;
    border-radius: 25px;
    padding: 20px;
    width: 50px;
    height: 200px;

}



img {
    height : 500px;
    width: auto;
}



  
  